[submodule "rails/rails"]
	path = .git-submodules/rails/rails
	url = https://github.com/rails/rails
[submodule "hotwired/hotwire-native-site"]
	path = .git-submodules/hotwired/hotwire-native-site
	url = https://github.com/hotwired/hotwire-native-site
[submodule "hotwired/stimulus-site"]
	path = .git-submodules/hotwired/stimulus-site
	url = https://github.com/hotwired/stimulus-site
[submodule "hotwired/turbo-site"]
	path = .git-submodules/hotwired/turbo-site
	url = https://github.com/hotwired/turbo-site
[submodule "hotwired/strada-site"]
	path = .git-submodules/hotwired/strada-site
	url = https://github.com/hotwired/strada-site
[submodule "basecamp/kamal-site"]
	path = .git-submodules/basecamp/kamal-site
	url = https://github.com/basecamp/kamal-site
[submodule "rubocop/rspec-style-guide"]
	path = .git-submodules/rubocop/rspec-style-guide
	url = https://github.com/rubocop/rspec-style-guide
[submodule "rubocop/ruby-style-guide"]
	path = .git-submodules/rubocop/ruby-style-guide
	url = https://github.com/rubocop/ruby-style-guide
[submodule "rubocop/capybara-style-guide"]
	path = .git-submodules/rubocop/capybara-style-guide
	url = https://github.com/rubocop/capybara-style-guide
[submodule "rubocop/packaging-style-guide"]
	path = .git-submodules/rubocop/packaging-style-guide
	url = https://github.com/rubocop/packaging-style-guide
[submodule "rubocop/rails-style-guide"]
	path = .git-submodules/rubocop/rails-style-guide
	url = https://github.com/rubocop/rails-style-guide
[submodule "rubocop/minitest-style-guide"]
	path = .git-submodules/rubocop/minitest-style-guide
	url = https://github.com/rubocop/minitest-style-guide
