[submodule "repos/rails"]
	path = .git-submodules/rails
	url = https://github.com/rails/rails
[submodule "repos/hotwire-native-site"]
	path = .git-submodules/hotwire-native-site
	url = https://github.com/hotwired/hotwire-native-site
[submodule "repos/stimulus-site"]
	path = .git-submodules/stimulus-site
	url = https://github.com/hotwired/stimulus-site
[submodule "repos/turbo-site"]
	path = .git-submodules/turbo-site
	url = https://github.com/hotwired/turbo-site
[submodule "repos/strada-site"]
	path = .git-submodules/strada-site
	url = https://github.com/hotwired/strada-site
[submodule "repos/kamal-site"]
	path = .git-submodules/kamal-site
	url = https://github.com/basecamp/kamal-site
[submodule "repos/rspec-style-guide"]
	path = .git-submodules/rspec-style-guide
	url = https://github.com/rubocop/rspec-style-guide
[submodule "repos/ruby-style-guide"]
	path = .git-submodules/ruby-style-guide
	url = https://github.com/rubocop/ruby-style-guide
[submodule "repos/capybara-style-guide"]
	path = .git-submodules/capybara-style-guide
	url = https://github.com/rubocop/capybara-style-guide
[submodule "repos/packaging-style-guide"]
	path = .git-submodules/packaging-style-guide
	url = https://github.com/rubocop/packaging-style-guide
[submodule "repos/rails-style-guide"]
	path = .git-submodules/rails-style-guide
	url = https://github.com/rubocop/rails-style-guide
[submodule "repos/minitest-style-guide"]
	path = .git-submodules/minitest-style-guide
	url = https://github.com/rubocop/minitest-style-guide
